<!-- 
 File Name: footer.ejs
 Author: Mohammed Juned Ahmed
 Student ID: 300833356
 Website Name: https://comp308-w17-midterm-300833356.herokuapp.com/
 Github Repo: https://github.com/ahmmdd/COMP308-W2017-Midterm-300833356
-->


<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container">
    <h4  class="navbar-text">&copy; 2017 All Rights Reserved.</h4>
  </div>
</nav>



<!-- JAVASCRIPT SECTION -->
    <script src="/Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
  </body>
</html>
