<!-- 
 File Name: error.ejs
 Author: Mohammed Juned Ahmed
 Student ID: 300833356
 Website Name: https://comp308-w17-midterm-300833356.herokuapp.com/
 Github Repo: https://github.com/ahmmdd/COMP308-W2017-Midterm-300833356
-->

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
