<!-- 
 File Name: 404.ejs
 Author: Mohammed Juned Ahmed
 Student ID: 300833356
 Website Name: https://comp308-w17-midterm-300833356.herokuapp.com/
 Github Repo: https://github.com/ahmmdd/COMP308-W2017-Midterm-300833356
-->

<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1><%= title %></h1>
          <p>Sorry, the page you are looking for is not found :(</p>
        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>


